<div class="main-container">
    <div class="left-container">
        <button class="btn1">Personal Info</button>
        <button class="btn2">Order History</button>
    </div>
    <div class="right-container">
        <p>Personal Info</p>
        <form>
            <div>
                <input type="text" class="name-input" placeholder="*Your Name">
                <input type="text" class="last-name-input" placeholder="*Your Last Name">
            </div>
            <div>
                <input type="text" class="phone-number-input" placeholder="*Your Phone Number">
            </div>
            <div>
                <input type="text" class="email-input" placeholder="*Your Email">
            </div>
            <div class="btn-container">
                <input type="button" class="btn1" value="Add Address">
                <input type="button" class="btn2" value="Save Changes">
            </div>
        </form>
    </div>
</div>